POSTGRES_DB=equipos_db
POSTGRES_USER=equipos_user
POSTGRES_PASSWORD=equipos_password

EQUIPOS_GRPC_PORT=50051
EQUIPOS_DB_PORT=5433

DATABASE_HOST=equipos-db
DATABASE_PORT=5432
DATABASE_NAME=equipos_db
DATABASE_USER=equipos_user
DATABASE_PASSWORD=equipos_password

ACTIVATE_REDIS=False